        configmap:
          application.properties: |        
            alpine.worker.threads=0
            alpine.worker.thread.multiplier=4
            alpine.data.directory=~/.dependency-track
            alpine.watchdog.logging.interval=0
            alpine.database.mode=external
            alpine.database.url=jdbc:postgresql://postgresql.postgresql.svc.cluster.local:5432/dtrack
            alpine.database.driver=org.postgresql.Driver
            alpine.database.username=dtrack
            alpine.database.password=dtrack

            # alpine.database.mode=embedded
            # alpine.database.port=9092
            # alpine.database.url=jdbc:h2:~/.dependency-track/db
            # alpine.database.driver=org.h2.Driver
            # alpine.database.username=sa

            alpine.database.pool.enabled=true
            alpine.database.pool.max.size=10
            alpine.database.pool.idle.timeout=600000
            alpine.database.pool.max.lifetime=600000
            alpine.enforce.authentication=true
            alpine.enforce.authorization=true
            alpine.bcrypt.rounds=14
            alpine.ldap.enabled=false